.idea
.git
*.iml
.editorconfig
mailcage
mailcage-*
mcsendmail-*
mcsendmail
README.md
Dockerfile
.gitignore
.golangci.yml
/data
/passwd
/outgoing.json
/test.py
*-packr.go
vendor
ui/frontend/build
ui/frontend/node_modules
